body {
    background-image: url(https://i.imgur.com/8MKTvrQ.jpg);
    margin: 0;
}
#head {
    text-align: center;
}
#wyvern {
    display: flex;
}
.wyv {
    margin: 0 auto;
}
.card {
    text-align: center;
    list-style: none;
    color: white;
    font-family: 'Antic Slab', serif;
    background-color: red;
    
}
#monsterDex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
}

