body {
    background-image: url(https://i.imgur.com/8MKTvrQ.jpg);
    margin: 0;
}
#head {
    text-align: center;
}
#wyvern {
    display: flex;
}
.wyv {
    margin: 0 auto;
}
.card {
    text-align: center;
    list-style: none;
    color: white;
    font-family: 'Antic Slab', serif;
    background-color: rgb(0, 0, 0, .3);

}
.card:hover {
    animation: pulse;
    animation-duration: 1s;
}
#monsterDex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;

}

.popup {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 150vh;
    background-image: url(https://i.imgur.com/1tdODPK.jpg);
    left: 130px;
    animation: slideInDown;
    animation-duration: 0.5s;
    
    
}


#closeBtn {
    color: black;
    background-color: blanchedalmond;
    opacity: 0.6;
    font-size: 15px;
    
    
}

.card-image {
    height: 300px;
    position: relative;
    display: flex;
    left: 350px;
    bottom: 30px;
}

button {
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    
}
.cards {
    
    color: rgba(136, 50, 0, 0.973);
    text-align: center;
    font-size: 30px;
}